.main {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}


.form {
    position: relative;
    right: 150px;
    top: 10px;
}

.form h1 {
    font-family: var(--font-roboto);
    font-weight: 100;
    font-size: 40px;
    position: relative;
    color: var(--color-body);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    font-family: var(--font-arial);
    position: relative;
}

.form-group label {
    display: block; /* Faz com que o label ocupe a largura total disponível */
    margin-bottom: 5px;
}

.form-group input {
    border: none;
    border-top: 2px solid var(--border-color);
    padding: .5rem;
    outline: none;
    width: 120%;
}

.form-group textarea {
    border: none;
    border-top: 2px solid var(--border-color);
    resize: none;
    outline: none;
    width: 120%;
    font-size: 12px;
    padding: .5rem;
}

.button-send {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: -85px;
}

.button-send input {
    border: none;
    background-color: var(  --color-body);
    padding: .7rem;
    color: var(--color-white);
    cursor: pointer;
}

.form-group input::placeholder {
    font-style: italic;
    color: var(--color-span-2);
}
.form-group textarea::placeholder {
    font-style: italic;
    color: var(--color-span-2);
}

.contactAndLoc {
    display: flex;
    justify-content: flex-end;
    margin-right: 12rem;
    gap: 1rem;
}

.contactAndLoc .spanOne {
    padding: 1rem;
    width: 20%;
    border: 2px solid var(--border-color);
    align-items: center;
    font-family: var(--font-arial);
    color: var( --color-p);
    height: 100px;
}

.contactAndLoc .spanTwo {
    padding: 1rem;
    width: 20%;
    border: 2px solid var(--border-color);
    align-items: center;
    font-family: var(--font-arial);
    color: var( --color-p);
}

.contactAndLoc p {
    color: var(--color-discover);
}

.copy {
    display: flex;
    justify-content: end;
    margin: 3rem 16rem 2rem;
    color: var(--color-span-2);
    font-size: 11px;
    font-family: var(--font-arial);
}

.contactAndLoc .spanOne::after {
    content: url('/src/components/contact/msg.png');
    position: relative;
    bottom: 50px;
    right: 130px;
}
.contactAndLoc .spanTwo::after {
    content: url('/src/components/contact/loc.png');
    position: relative;
    bottom: 108px;
    right: 120px;
}